.card{
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    
    background-color: aquamarine;
}

.fancyBorder{
    border-color: red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

}